@import 'vars';

.VPButton {
  font-weight: 500 !important;
}

.v-field__prepend-inner,
.v-field__append-inner {
  padding: 0 6px 0 0;
  display: flex;
  align-items: center;
}

.v-field--variant-filled {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.VPButton,
.VPFeature,
.custom-block {
  border-radius: 6px !important;
}

.VPLink {
  &[href^='/styles/'] {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1.5em;
      height: 1.5em;
      background-color: var(--vp-c-bg-soft);
      border-radius: 4px;
      margin-right: 0.5em;
    }
  }

  $styles: (
    'big-ears-neutral',
    'adventurer',
    'adventurer-neutral',
    'avataaars',
    'avataaars-neutral',
    'big-ears',
    'big-smile',
    'bottts',
    'bottts-neutral',
    'croodles',
    'croodles-neutral',
    'fun-emoji',
    'icons',
    'identicon',
    'initials',
    'lorelei',
    'lorelei-neutral',
    'micah',
    'miniavs',
    'notionists',
    'notionists-neutral',
    'open-peeps',
    'personas',
    'pixel-art',
    'pixel-art-neutral',
    'shapes',
    'thumbs'
  );

  @each $style in $styles {
    &[href='/styles/#{$style}']::before {
      background-image: url('https://api.dicebear.com/6.x/#{$style}/svg?seed=JD');
    }
  }
}
